{% load static %}
   {% comment %} left memu {% endcomment %}
   <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> <!--begin::Sidebar Brand-->
    <div class="sidebar-brand"> <!--begin::Brand Link--> <a href="./index.html" class="brand-link"> <!--begin::Brand Image--> <img src="{% static 'assets/img/AdminLTELogo.png' %}" alt="Ateam Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light">Biueco Management</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2"> <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                {% comment %} <li class="nav-item menu-open"> <a href="#" class="nav-link active"> <i class="nav-icon bi bi-speedometer"></i>
                        <p>
                            Dashboard
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"> <a href="{% url 'dashboard:index' %}" class="nav-link active"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./index.html" class="nav-link active"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard Tenants</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./index2.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard Rent</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./index3.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard Housing property</p>
                            </a> </li>
                    </ul>
                </li> {% endcomment %}

                <li class="nav-item"> <a href="{% url 'dashboard:index' %}" class="nav-link active"> <i class="nav-icon bi bi-speedometer"></i>
                    <p>Dashboard</p>
                </a> </li>


                <li class="nav-item"> <a href="" class="nav-link"> <i class="bi bi-calendar2-plus" style="color: red;"></i>
                </i>
                        <p>Tickets</p>
                    </a> </li>

                 <li class="nav-item"> <a href="{% url 'tickets:list' %}" class="nav-link"> <i class="bi bi-calendar2-plus" style="color: red;"></i>
                </i>
                        <p>Ticket</p>
                    </a> </li> 



                <li class="nav-item"> <a href="{% url 'leads:list' %}" class="nav-link"> <i class="nav-icon bi bi-palette"></i>
                        <p>Leads</p>
                    </a> </li>

            

                <li class="nav-item"> <a href="{% url 'clients:list' %}" class="nav-link"> <i class="nav-icon bi bi-palette"></i>
                        <p>Clients</p>
                    </a> </li>
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-palette"></i>
                        <p>Orders</p>
                    </a> </li>
                    
                    <li class="nav-item"> <a href="{% url 'products:list' %}" class="nav-link"> <i class="nav-icon bi bi-palette"></i>
                        <p>Products</p>
                    </a> </li>
            

                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-palette"></i>
                    <p>Logout</p>
                </a> </li>  
                
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Tenants</p>
                </a> </li> 
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Properties</p>
                </a> </li>
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Rent</p>
                </a> </li>
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Tasks</p>
                </a> </li> 
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Finance</p>
                </a> </li> 
                <li class="nav-item"> <a href="{% url 'orders:list' %}" class="nav-link"> <i class="nav-icon bi bi-people-fill"></i>
                    <p>Shopping list</p>
                </a> </li> 
                


            </ul> <!--end::Sidebar Menu-->
        </nav>
    </div> <!--end::Sidebar Wrapper-->
</aside> <!--end::Sidebar--> <!--begin::App Main-->
