{% extends 'core/base.html' %} 

 {% block title %}Leads details{% endblock %}

 {% block content %}
 <!-- ------------------------------------------------------- -->



 <div class="card">
	<div class="card-header"><strong>
		  {{ lead.name }} 
		</strong>
	</div>
	<div class="card-body">
  
  
  
  <p class="card-text">
  <strong>Email: </strong>{{ lead.email }}</p>
  
  <p class="card-text">
  <strong>description: </strong>{{ lead.description }}
  </p>
  
  <p class="card-text">
  <strong>priority: </strong>{{ lead.priority }}</p>
  
  <p class="card-text">
  <strong>status: </strong>{{ lead.status }}</p>
  
  <p class="card-text">
  <strong>created_by: </strong>{{ lead.created_by }}</p>
  
  <p class="card-text">
  <strong>created_at: </strong>{{ lead.created_at }}</p>
  
  <p class="card-text">
  <strong>modified_at: </strong>{{ lead.modified_at }}</p>
  
  <p class="card-text">
  <strong>ID: </strong>{{ lead.id }}</p>
	  
	  
	</div>
  
</div>

<form id="lead_delete_form" method="post" action="{% url 'leads:delete' lead.id %}">
  {% csrf_token %}
</form>

  <br/><br/>
  <a href="{% url 'leads:list' %}" class="btn btn-primary">Back</a>
  <a href="{% url 'leads:edit' lead.id %}" class="btn btn-info">Update Record</a>
  <a href="{% url 'leads:convert' lead.id %}" class="btn btn-success">Convert to Client</a>
  <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="btn btn-danger">Delete</a>
  
  <!-- comment below ------------------------------------------ -->
  <hr class="my-4">

        <h2 class="mb-6 text-xl">Comments</h2>

        <div class="space-y-4">
            {% for comment in lead.comments.all %} <!-- lead.comments.all is the related name in the model -->
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
                    
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'leads:add_comment' lead.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-red">Submit</button>
        </form>
 <!-- ------------------------------------------------------- -->

 {% endblock %}