{% extends 'core/base.html' %} 

 {% block title %} Products List {% endblock %}

 {% block content %}
 
 <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">price</th>
        <th scope="col">stock_quantity</th>
        <th scope="col">description</th>
        <!-- <th scope="col">Status</th> -->
        <th scope="col">Created_by</th>
        <th scope="col">Created_at</th>
        <th scope="col">Modified_at</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      
  {% if products %}
      {% for product in products %}
          <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.stock_quantity }}</td>
              <td>{{ product.description }}</td>
              <!-- <td>{{ product.status }}</td> -->
              <td>{{ product.created_by }}</td>
              <td>{{ product.created_at }}</td>
              <td>{{ product.modified_at }}</td>
              <td><a href="{% url 'products_detail' product.id %}">{{ product.id }}</a></td> 
        <!-- % url 'product' product.id %} -->
          </tr>
        

      {% endfor %}
  {% else %}
      <tr>
          <td colspan="9">No products found</td>
      </tr>
  
  {% endif %}
  
      
        </tbody>
      
      </table>

      <a href="{% url 'products_add' %}" class="btn btn-danger">Add product</a>
 {% endblock %}

 