{% extends 'core/base.html' %}

{% block title %}Tickets List{% endblock %}

{% block content %}
<style>
    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }
</style>

<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Ticket Information</h3>
    </div> <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    {% comment %} <th>Occupation</th> {% endcomment %}
                    <th>Created by</th>
                    <th>Created at</th>
                    <th>Modified at</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for ticket in object_list %}
                        <tr class="align-middle">
                            {% comment %} <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.id }}</a></td> {% endcomment %}
                            <td>{{ ticket.id }}</td>
                            <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.title }}</a></td>
                            <td>{{ ticket.description }}</td>
                            <td>
                                {% if ticket.priority == 'high' %}
                                    <span class="badge  rounded-pill text-bg-danger">{{ ticket.priority }}</span>
                                {% elif ticket.priority == 'medium' %}
                                    <span class="badge  rounded-pill text-bg-primary">{{ ticket.priority }}</span>
                                {% elif ticket.priority == 'low' %}
                                    <span class="badge  rounded-pill text-bg-success">{{ ticket.priority }}</span>
                                {% else %}
                                    {{ ticket.priority }}
                                {% endif %}
                            </td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.created_by }}</td>
                            <td>{{ ticket.created_at }}</td>
                            <td>{{ ticket.modified_at }}</td>
                            
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">No tickets found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div> <!-- /.card-body -->
    <div class="card-footer text-end">
        <a href="{% url 'tickets:add_ticket' %}" class="btn btn-danger">Add Ticket</a>
    </div>
</div>
{% endblock %}