{% extends 'core/base.html' %}

{% block title %}Tickets List{% endblock %}

{% block content %}
<style>
    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }
</style>

<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Tenants Information</h3>
    </div> <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    {% comment %} <th>Occupation</th> {% endcomment %}
                    <th>Created_by</th>
                    <th>Created_at</th>
                    <th>Modified_at</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for ticket in object_list %}
                        <tr class="align-middle">
                            <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.id }}</a></td>
                            <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.title }}</a></td>
                            <td>{{ ticket.description }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.created_by }}</td>
                            <td>{{ ticket.created_at }}</td>
                            <td>{{ ticket.modified_at }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No tickets found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div> <!-- /.card-body -->

    <a href="{% url 'tickets:add_ticket' %}" class="btn btn-danger">Add Ticket</a>
{% endblock %}