{% extends 'core/base.html' %}

{% block title %}Ticket Details{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header"><strong>{{ ticket.name }}</strong></div>
    <div class="card-body">
        <p class="card-text"><strong>Title: </strong>{{ ticket.title }}</p>
        <p class="card-text"><strong>Description: </strong>{{ ticket.description }}</p>
        <p class="card-text"><strong>Priority: </strong>{{ ticket.priority }}</p>
        <p class="card-text"><strong>Status: </strong>{{ ticket.status }}</p>
        <p class="card-text"><strong>Created by: </strong>{{ ticket.created_by }}</p>
        <p class="card-text"><strong>Created at: </strong>{{ ticket.created_at }}</p>
        <p class="card-text"><strong>Modified at: </strong>{{ ticket.modified_at }}</p>
        <p class="card-text"><strong>ID: </strong>{{ ticket.id }}</p>
    </div>
</div>

<form id="ticket_delete_form" method="post" action="{% url 'tickets:delete' ticket.id %}">
    {% csrf_token %}
</form>

<br/><br/>
<a href="{% url 'tickets:list' %}" class="btn btn-primary">Back</a>
<a href="{% url 'tickets:update' ticket.id %}" class="btn btn-info">Update Record</a>
<a href="#" onclick="document.getElementById('ticket_delete_form').submit();" class="btn btn-danger">Delete</a>
{% endblock %}
