{% extends 'core/base.html' %}

{% block title %}Tickets List{% endblock %}

{% block content %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Created_by</th>
            <th scope="col">Created_at</th>
            <th scope="col">Modified_at</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for ticket in object_list %}
                <tr>
                    <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.id }}</a></td>
                    <td><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket.title }}</a></td>
                    {% comment %} <td>{{ ticket.title }}</td> {% endcomment %}
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.created_by }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.modified_at }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No tickets found</td>
            </tr>
        {% endif %}
    </tbody>
</table>











<a href="{% url 'tickets:add_ticket' %}" class="btn btn-danger">Add Ticket</a>
{% endblock %}
