{% extends 'core/base.html' %}

{% block title %}Django CRM{% endblock %}

{% block content %}
    <br>
    <h1>Welcome to Django CRM</h1>
    <p>
        This CRM system is developed using the Django framework in Python.<br>
        It leverages Bootstrap for the front-end and MySQL as its database.<br>
        The system facilitates customer relationship management, allowing businesses to efficiently manage interactions with their clients, and track leads.

    </p>

    <h2>Demo Account</h2>
    <p>You can log in with the following demo account:</p>
    <ul>
        <li>Username: demo</li>
        <li>Password: y_-Fy8PYduQkXix</li>
    </ul>

    <h2>Basic Functions</h2>
    <p>This CRM system includes the following basic functions:</p>
    <ul>
        <li>Leads: Manage potential clients or sales leads.</li>
        <li>Clients: Manage client information.</li>
        <li>Products: Manage products.</li>
        <li>Orders: Manage orders.</li>
        <li>User Profiles: Manage user profiles, including login and logout.</li>
        <li>Dashboard: The main interface for users after they log in.</li>
    </ul>
    <h2>Ongoing project</h2>
    <p>
        This ongoing project is currently in development. <br>
        I am working on adding additional features, functions, and improvements.
    </p>


{% endblock %}