{% extends 'core/base.html' %} 

 {% block title %} Clients List {% endblock %}

 {% block content %}
 
 <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Created_by</th>
        <th scope="col">Created_at</th>
        <th scope="col">Modified_at</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      
  {% if clients %}
      {% for client in clients %}
          <tr>
              <td>{{ client.name }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.description }}</td>
              <td>{{ client.priority }}</td>
              <td>{{ client.status }}</td>
              <td>{{ client.created_by }}</td>
              <td>{{ client.created_at }}</td>
              <td>{{ client.modified_at }}</td>
              <td><a href="{% url 'clients_detail' client.id %}">{{ client.id }}</a></td> 
        <!-- % url 'client' client.id %} -->
          </tr>
        

      {% endfor %}
  {% else %}
      <tr>
          <td colspan="9">No clients found</td>
      </tr>
  
  {% endif %}
  
      
        </tbody>
      
      </table>
      <a href="{% url 'add_lead' %" class="btn btn-danger">Add client</a>
 {% endblock %}


 